<div class="message">
  <p>
  ビジネスに長けていることは、<br>
  最も魅力的なアートのひとつさ。<br>
  お金儲けはアートであり、働くこともアートであり、<br>
  さらに言うと、よいビジネスは最高のアートなんだ。
  </p>
</div>

<div class="profile">
  <p>
  アンディ・ウォーホル<br>
  米国の画家、版画家、芸術家。ポップアートの旗手
  </p>
</div>

<div class="youtube">

<iframe width="560" height="315" src="https://www.youtube.com/embed/UQXpqQO4vaE?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>