<div class="message">
  <p>時に人々は同じ悩みで<br>
  長年にわたり苦しみ続けるが、<br>
  「だから何？」で終わらせることもできる。<br>
私の母は私を愛さなかった――だから何？<br>
私の夫は私を求めない――だから何？<br>
私は成功したが、孤独だ――だから何？<br>
このトリックを学ぶまでの年月を、<br>
僕は一体どう生き延びてきたのだろうか。<br>
ここまで来るのに長い年月がかかったが、<br>
一度学んでしまえば二度と忘れることはない。
  </p>
</div>

<div class="profile">
  <p>
  アンディ・ウォーホル<br>
  米国の画家、版画家、芸術家。ポップアートの旗手
  </p>
</div>

<div class="youtube">

<iframe width="560" height="315" src="https://www.youtube.com/embed/UQXpqQO4vaE?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>