<div class="message">
  <p>
大丈夫、大丈夫、<br>
いつかはここを抜ける日がやってくる。
  </p>
</div>

<div class="profile">
  <p>
  よしもとばなな<br>
  日本の女性小説家
  </p>
</div>

<div class="youtube">

<iframe width="560" height="315" src="https://www.youtube.com/embed/hJ3qjChW8ks?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>