<div class="message">
  <p>何をやっても上手くいかないときは、<br>
  外へ出かけて昔のような楽しい時間を<br>
  過ごすのよ、さあ。
  </p>
</div>

<div class="profile">
  <p>
  ビヨンセ・ノウルズ<br>
  米国のシンガーソングライター、ダンサー、<br>
  音楽プロデューサー、女優
  </p>
</div>

<div class="youtube">
<%# <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> %>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>
