<div class="message">
  <p>
私は恋愛関係にある男女の<br>
どちらか片方でも自分に自信がないと、<br>
その関係はうまく行かないということを、<br>
成長する過程で学んできたの。
  </p>
</div>

<div class="profile">
  <p>
  ビヨンセ・ノウルズ<br>
  米国のシンガーソングライター、ダンサー、<br>
  音楽プロデューサー、女優
  </p>
</div>

<div class="youtube">
<%# <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> %>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>