<div class="message">
  <p>
人生は公平ではない。<br>
そのことに慣れよう。
  </p>
</div>

<div class="profile">
  <p>
  ビル・ゲイツ<br>
  米国の実業家、マイクロソフト社の創業者
  </p>
</div>

<div class="youtube">
<%# <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> %>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/aCv29JKmHNY?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>