<div class="message">
  <p>
アイデアというものは、<br>
それを一心に求めてさえいれば<br>
必ず生まれてくる。
  </p>
</div>

<div class="profile">
  <p>
  チャップリン<br>
  英国の俳優、映画監督、コメディアン、脚本家
  </p>
</div>

<div class="youtube">
<%# <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> %>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/BNyh_Ys4vtY?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>