<div class="message">
  <p>
人に大切なのは、自信を持つことだ。<br>
私が孤児院にいたとき、<br>
腹をすかせて街をうろついて<br>
食いものをあさっていたときでも、<br>
自分では世界一の<br>
大役者ぐらいのつもりでいた。<br>
つまり勝ち気だったのだ。<br>
こいつをなくしてしまったら、<br>
人はうち負かされてしまう。
  </p>
</div>

<div class="profile">
  <p>
  チャップリン<br>
  英国の俳優、映画監督、コメディアン、脚本家
  </p>
</div>

<div class="youtube">
<%# <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4m1EFMoRFvY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p> %>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/BNyh_Ys4vtY?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>