<div class="message">
  <p>
人を愛するために必要なことは<br>
1．信じること<br>
2．待つこと<br>
3．許すこと
  </p>
</div>

<div class="profile">
  <p>
  ドラえもん<br>
藤子・F・不二雄の漫画『ドラえもん』に<br>
登場する架空のネコ型ロボット。
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/At7iFPVgIYc?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>