<div class="message">
  <p>
男にとっての最高の支えは、<br>
良き妻を持つことである。
  </p>
</div>

<div class="profile">
  <p>
  ウォルト・ディズニー<br>
米国のエンターテイナー、プロデューサー、<br>
実業家。ミッキー・マウスの生みの親。
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oGlP298m6JQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>