<div class="message">
  <p>
欠点を裏返すと<br>
それがその人の一番の<br>
長所であったりする
  </p>
</div>

<div class="profile">
  <p>
  羽生善治<br>
日本の将棋棋士、十九世名人
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/0UJoyordQyw?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>