<div class="message">
  <p>
わがままと不平によって、<br>
心は歪められたり、<br>
曇ったりするように、<br>
愛はその喜びによって、<br>
視覚というものを、<br>
明確なものにすると同時に、<br>
また、鋭敏なものにするのです。 
  </p>
</div>

<div class="profile">
  <p>
ヘレン・ケラー<br>
米国の教育家、社会福祉活動家、著作家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/YBtb3tk68O0?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>