<div class="message">
  <p>
私は素晴らしく尊い仕事をしたいと<br>
心から思っている。<br>
でも私がやらなければならないのは、<br>
ちっぽけな仕事をも<br>
素晴らしくて尊い仕事と同じように<br>
立派にやり遂げることなのだ。
  </p>
</div>

<div class="profile">
  <p>
ヘレン・ケラー<br>
米国の教育家、社会福祉活動家、著作家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/YBtb3tk68O0?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>