<div class="message">
  <p>
まず自分の好きなことを見つける。<br>
そうすれば、自分を磨けるし、
先へ進める。<br>
  </p>
</div>

<div class="profile">
  <p>
  イチロー<br>
日本の野球選手
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Nl0eLBTQQQM?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>