
<div class="selection">

  <a href= "/cheers/down" class="btn-radius"><%= image_tag 'down.png' %></a>

  <a href= "/cheers/love" class="btn-radius"><%= image_tag 'love.png' %></a>

  <a href= "/cheers/work" class="btn-radius"><%= image_tag 'work.png' %></a>

  <a href= "/cheers/life" class="btn-radius"><%= image_tag 'life.png' %></a>
</div>