<div class="message">
  <p>
あなたは苦しんだ分だけ、<br>
愛の深い人に育っているのですよ。
  </p>
</div>

<div class="profile">
  <p>
瀬戸内寂聴<br>
日本の女性小説家、天台宗の尼僧
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/yCtMyf2w9Ec?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>