<div class="message">
  <p>
あなたの気持ちや考えが<br>
世の中の大多数とちがっていた場合、<br>
家族も含めたあなた以外の「他人」が<br>
あなたの気持ちや考えを笑ったり、批判したり、<br>
あげくのはてにあなた自身を<br>
否定したりすることもあるかもしれません。<br>
でもけっして、あなた自身が<br>
自分を否定したり、笑ったりしないように。<br>
自分の幸せをつかむチャンスは、<br>
人生にチャレンジしようとする人に<br>
訪れるもの。
  </p>
</div>

<div class="profile">
  <p>
叶 恭子<br>
モデル、テレビタレント、<br>
作家、映画プロデューサー
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/17XMj4y9uAQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>