<div class="message">
  <p>
すべての人が求めているかのような<br>
「恋愛」ですが、本当は<br>
誰もがしなければならないもの、<br>
ではありません。<br>
その人にとって興味がなければ、<br>
一生しなくても、<br>
まったくかまわないのです。
  </p>
</div>

<div class="profile">
  <p>
叶 恭子<br>
モデル、テレビタレント、<br>
作家、映画プロデューサー
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/17XMj4y9uAQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>