<div class="message">
  <p>
「念のために」「万が一にそなえて」<br>
どんなゲームの、どんな局面でも<br>
最後に一枚、自分の手札を残しておくことが<br>
とても大切です。
  </p>
</div>

<div class="profile">
  <p>
叶 恭子<br>
モデル、テレビタレント、<br>
作家、映画プロデューサー
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/17XMj4y9uAQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>