<div class="message">
  <p>
やはり社員の信用を得るには夫婦仲です。<br>
成功しているところは、<br>
みな夫婦仲よくしておられる。
  </p>
</div>

<div class="profile">
  <p>
松下幸之助<br>
日本の実業家、発明家、<br>
パナソニック創業者
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/GoZrSIL2cyc?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>