<div class="message">
  <p>
ただ人の成功をねたんでいるだけでは、<br>
生きている価値がありません。<br>
そして、成功イコール幸せでもないもんよ。<br>
人生とは、えらく厄介なものですね。<br>
そう、自分が幸せかどうかは、<br>
自分で決めるしかないのよ。
  </p>
</div>

<div class="profile">
  <p>
マツコ・デラックス<br>
日本のコラムニスト、エッセイスト、<br>
女装タレント、司会者
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/kjzoK-EXTNI?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>