<div class="message">
  <p>
リーダーとなるためには、<br>
行動によって<br>
仲間から尊敬を集めなければならない。<br>
リーダーとなる人は、<br>
バスケットボールの練習であれ、<br>
営業会議であれ、<br>
家族との接し方であれ、<br>
つねに言行一致を貫かなければならない。
  </p>
</div>

<div class="profile">
  <p>
マイケル・ジョーダン<br>
米国のバスケットボール選手。<br>
その実績からバスケットボールの神様とも称される。
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/QwkuX7fbQfM?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>