<div class="message">
  <p>
完全な男を求めるのは、身の程知らず。<br>
自分に欠点があるように、相手にも欠点がある。<br>
傷つくことを恐れず、当たって砕けろ。
  </p>
</div>

<div class="profile">
  <p>
美輪明宏<br>
日本のシンガーソングライター、<br>
俳優、演出家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/QuN5vrpbocg?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>