<div class="message">
  <p>
人生、いくら扉をたたいても<br>
開かないことがある。<br>
その時は、神様が自分の内容を<br>
肥やすために与えてくれた時間だと思って、<br>
知識を育てたりして<br>
中身を膨らませることにあててみることね。
  </p>
</div>

<div class="profile">
  <p>
美輪明宏<br>
日本のシンガーソングライター、<br>
俳優、演出家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/QuN5vrpbocg?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>