<div class="message">
  <p>
職場でも家庭でも、付き合いは気品を持って、<br>
良い人間同士でいること。<br>
君子の交わりは淡き水の如し。
  </p>
</div>

<div class="profile">
  <p>
美輪明宏<br>
日本のシンガーソングライター、<br>
俳優、演出家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/QuN5vrpbocg?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>