<div class="message">
  <p>
勝利はもっとも忍耐強い人に<br>
もたらされる。
  </p>
</div>

<div class="profile">
  <p>
ナポレオン・ボナパルト<br>
フランスの軍人、政治家、<br>
フランス第一帝政の皇帝。
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/T7c05lYMmEc?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>