<div class="message">
  <p>
あなたがおこなう挑戦を、<br>
欠点として見るべきではありません。<br>
むしろ、逆境に直面し<br>
それを克服するという経験が、<br>
実はあなたの最大の強みである<br>
ということを理解することが重要なのです。
  </p>
</div>

<div class="profile">
  <p>
ミシェル・オバマ<br>
米国の法律家
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/lDxC1DBWqkc?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>