<div class="message">
  <p>
人は心が愉快であれば<br>
終日歩んでも嫌になることはないが、<br>
心に憂いがあればわずか一里でも嫌になる。<br>
人生の行路もこれと同様で、<br>
人は常に明るく愉快な心をもって<br>
人生の行路を歩まねばならぬ。
  </p>
</div>

<div class="profile">
  <p>
ウィリアム・シェイクスピア<br>
英国の劇作家、詩人。<br>
イギリス・ルネサンス演劇を代表する人物
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/OGbpaFDuGo0?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>