<div class="message">
  <p>
いい友達がいないとこぼす人がいる。<br>
欠点も含めてすべてを<br>
解りあえる間柄が友達というもの。<br>
友達の欠点をあげつらう人は<br>
その友達にとって<br>
友達でもなんでもないことになる。<br>
打算の目で見ている証拠で、<br>
それを改めない限りその人が心底の友達に<br>
めぐりあうことは一生ないと言える。
  </p>
</div>

<div class="profile">
  <p>
志茂田景樹<br>
日本の作家、小説家、<br>
絵本作家、タレント
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oVv-VI4K9SQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>