<div class="message">
  <p>
どれだけ愛しているかを<br>
訴える人の愛はたいしたものではない。<br>
本物の愛の広がりと深さは<br>
言葉に尽くせないもので、<br>
そのエネルギーにひたすら身を委ねて<br>
愛する人を愛するしかないのである。
  </p>
</div>

<div class="profile">
  <p>
志茂田景樹<br>
日本の作家、小説家、<br>
絵本作家、タレント
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oVv-VI4K9SQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>