<div class="message">
  <p>
もしも凹んでいる自分に気づいたら、<br>
叱咤激励は大禁物だよ。<br>
しばらく凹んでいていいんだよ、と労わってやろう。<br>
実はこれ、いちばん元気が出る言葉なんだ。<br>
立ち上がったら、もう大丈夫、<br>
と背中を押してやる。
叱咤激励はね、<br>
凹んだ心に石を抱かせていくことに等しいの。
  </p>
</div>

<div class="profile">
  <p>
志茂田景樹<br>
日本の作家、小説家、<br>
絵本作家、タレント
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oVv-VI4K9SQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>