<div class="message">
  <p>
同じ轍を踏んでしまい、<br>
またやってしまったと後悔することがある。<br>
その後悔には意味がある。<br>
同じ轍は踏むまいと頭で理解しても、<br>
体は１回ではまだ理解しきれていない。<br>
その体にしっかり覚えさせるために<br>
同じ轍を踏むのだと思えばいい。<br>
運命を左右するような局面で<br>
同じ轍を踏まないためにも。
  </p>
</div>

<div class="profile">
  <p>
志茂田景樹<br>
日本の作家、小説家、<br>
絵本作家、タレント
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/oVv-VI4K9SQ?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>