<div class="message">
  <p>
本当の勇気とは<br>
自分の弱い心に打ち勝つことだよ。<br>
包み隠さず本当のことを<br>
正々堂々と言える者こそ<br>
本当の勇気のある強い者なんだ
  </p>
</div>

<div class="profile">
  <p>
スナフキン<br>
小説「ムーミン」に登場するキャラクター<br>
主人公であるムーミントロールの親友であり、遊牧生活を送っている。
  </p>
</div>

<div class="youtube">

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/VDiFR_ZcNyU?controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=k6ZTJHH15es&amp;muted=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

</div>